{{- $now := now -}}
{{- $dayNum := $now.Weekday -}}
{{- $minutes := add (mul $now.Hour 60) $now.Minute -}}
{{- $today := $now.Format "2006-01-02" -}}

{{- $horaris := site.Data.horaris -}}
{{- $restaurant := site.Data.restaurant -}}

{{- $status := "closed" -}}
{{- $service := "" -}}
{{- $message := "" -}}

{{/* ---------------- EXCEPCIONS ---------------- */}}
{{- with $restaurant -}}
  {{- range .excepcions -}}
    {{- if and .actiu (eq .data $today) -}}
      {{- $status = .estat -}}
      {{- $message = index .missatge $.Site.Language.Lang -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* ---------------- HORARIS ---------------- */}}
{{- $dayKey := "" -}}
{{- if eq $dayNum 0 -}}{{- $dayKey = "dl" -}}
{{- else if eq $dayNum 1 -}}{{- $dayKey = "dt" -}}
{{- else if eq $dayNum 2 -}}{{- $dayKey = "dc" -}}
{{- else if eq $dayNum 3 -}}{{- $dayKey = "dj" -}}
{{- else if eq $dayNum 4 -}}{{- $dayKey = "dv" -}}
{{- else if eq $dayNum 5 -}}{{- $dayKey = "ds" -}}
{{- else if eq $dayNum 6 -}}{{- $dayKey = "dg" -}}
{{- end -}}

{{/* MENU */}}
{{- if and (eq $status "closed") (in $horaris.horaris.menu.dies $dayKey) -}}
  {{- $menuStartParts := split $horaris.horaris.menu.obertura ":" -}}
  {{- $menuStartH := index $menuStartParts 0 | int -}}
  {{- $menuStartM := index $menuStartParts 1 | int -}}
  {{- $menuStartMin := add (mul $menuStartH 60) $menuStartM -}}
  {{- $menuEndParts := split $horaris.horaris.menu.tancament ":" -}}
  {{- $menuEndH := index $menuEndParts 0 | int -}}
  {{- $menuEndM := index $menuEndParts 1 | int -}}
  {{- $menuEndMin := add (mul $menuEndH 60) $menuEndM -}}
  {{- if and (ge $minutes $menuStartMin) (le $minutes $menuEndMin) -}}
    {{- $status = "menu" -}}
    {{- $service = "menu" -}}
  {{- end -}}
{{- end -}}

{{/* CARTA */}}
{{- if and (eq $status "closed") (in $horaris.horaris.carta.dies $dayKey) -}}
  {{- $cartaStartParts := split $horaris.horaris.carta.obertura ":" -}}
  {{- $cartaStartH := index $cartaStartParts 0 | int -}}
  {{- $cartaStartM := index $cartaStartParts 1 | int -}}
  {{- $cartaStartMin := add (mul $cartaStartH 60) $cartaStartM -}}
  {{- $cartaEndParts := split $horaris.horaris.carta.tancament ":" -}}
  {{- $cartaEndH := index $cartaEndParts 0 | int -}}
  {{- $cartaEndM := index $cartaEndParts 1 | int -}}
  {{- $cartaEndMin := add (mul $cartaEndH 60) $cartaEndM -}}
  {{- if and (ge $minutes $cartaStartMin) (le $minutes $cartaEndMin) -}}
    {{- $status = "carta" -}}
    {{- $service = "carta" -}}
  {{- end -}}
{{- end -}}

{{/* ---------------- MENSSAGE ---------------- */}}
{{- $tancatKey := "tancat_ara" -}}
{{- $demàKey := "demà" -}}
{{- if eq $.Site.Language.Lang "es" -}}
  {{- $tancatKey = "tancat_ara" -}}
  {{- $demàKey = "mañana" -}}
{{- else if eq $.Site.Language.Lang "en" -}}
  {{- $tancatKey = "closed_now" -}}
  {{- $demàKey = "tomorrow" -}}
{{- end -}}

{{- if eq $status "closed" -}}
  {{- $nextOpen := "" -}}
  {{- $dayNames := slice "dl" "dt" "dc" "dj" "dv" "ds" "dg" -}}
  {{- $nextDay := $dayNum -}}
  {{- range seq 1 7 -}}
    {{- $nextDay = mod (add $nextDay 1) 7 -}}
    {{- $nextDayKey := index $dayNames $nextDay -}}
    {{- if in $horaris.horaris.menu.dies $nextDayKey -}}
      {{- $nextOpen = printf "%s %s" (i18n $demàKey) $horaris.horaris.menu.obertura -}}
      {{- break -}}
    {{- else if in $horaris.horaris.carta.dies $nextDayKey -}}
      {{- $nextOpen = printf "%s %s" (i18n $demàKey) $horaris.horaris.carta.obertura -}}
      {{- break -}}
    {{- end -}}
  {{- end -}}
  {{- $message = printf "%s. %s" (i18n $tancatKey) $nextOpen -}}
{{- else if eq $status "menu" -}}
  {{- $message = i18n "obert_menu" -}}
{{- else if eq $status "carta" -}}
  {{- $message = i18n "obert_carta" -}}
{{- end -}}

{{- return (dict "status" $status "service" $service "message" $message "day" $dayKey) -}}
